{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Safe Night Out</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue darken-4">
        <ul>
          <li><a href="/" class="left brand-logo"><i class = "material-icons right">local_drink</i></a></li>
        </ul>
        <ul class="right">
          <li><a  class = "amber-text text-lighten-2" href="{% url 'about' %}">About</a></li>
            <li><a class = "amber-text text-lighten-2" href="{% url 'laws_texas' %}">Laws</a></li>
          {% if user.is_authenticated %}
            <li><a class = "amber-text text-lighten-2" href="{% url 'drinks_create' %}">Create Drink</a></li>
            <li><a class = "amber-text text-lighten-2" href="{% url 'index' %}">Drink Sessions</a></li>
            <li><a class = "amber-text text-lighten-2" href="{% url 'logout'%}">Log Out</a></li>
          {% else %}
          <li><a class = "amber-text text-lighten-2" href="{% url 'login'%}"><i class= 'material-icons right'>vpn_key</i>Log In</a></li>
          <li><a class = "amber-text text-lighten-2" href="{% url 'signup' %}" type='submit'
            name='action'>Create an Account<i class="material-icons right">lock</i></a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer blue darken-4">
    <div class = "left"><a class = "amber-text text-darken-1 valign-wrapper" href="https://github.com/perkowskialex/safe-night-out"><span><img class = 'footer-images' src="https://i.imgur.com/81P9peo.png"></span>GitHub</a></div>
    <div class="right">All Rights Reserved, &copy; 2020 Safe Night Out &nbsp;</div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-1.4.0.min.js"></script> 
{{script | safe}}
</html>